*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

:root{
    /* bg-colors */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #fdfdfc;
    --bg-food-color: #ff3b3b;

    /* text-colors */
    --text-primary-color: #f1efef;

    /* spacing variables */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 40px;
    --spacing-3xl: 48px;

    /* border-color */
    --border-primary-color: #333333;

    /* border-radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;
    --border-radius-2xl: 24px;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main, section{
    width: 100%;
    height: 100%;
}

.btn{
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.1);
}

section{
    padding: var(--spacing-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

section .infos{
    padding: 0 var(--spacing-xl);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: var(--spacing-sm) var(--spacing-md);
    border: solid 1px var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: solid 1px var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(35px, 1fr));
}

.block{
    border: solid 1px var(--border-primary-color);
    border-radius: 50%;
}


.fill{
    background-color: var(--bg-fill-color);
}

.food{
    background-color: var(--bg-food-color);
}

.modal{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.sound-toggle:hover {
    transform: scale(1.2);
}

.start-game, .game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
}

.game-over{
    display: none;
}